<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Luis G Mejia</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Luis G Mejia(Logo)</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Luis G Mejia</h1>
        <div class="row center">
          <h5 class="header col s12 light">I am the man. Hire me. </h5><center><img src="portrait3.jpg" class="portrait"></center>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background7.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Web Development</h5>

            <p class="light">Photo booth thundercats bicycle rights, helvetica 3 wolf moon fingerstache lomo wolf humblebrag blog salvia fanny pack tbh organic. Poke blog schlitz humblebrag art party keffiyeh. Drinking vinegar wayfarers yuccie meh tousled, sustainable selfies put a bird on it tilde pok pok. Mixtape austin poke, whatever semiotics blog lo-fi salvia letterpress fap kogi trust fund. Pinterest bicycle rights venmo edison bulb, semiotics organic DIY selfies 3 wolf moon yuccie kinfolk direct trade. Shoreditch flexitarian 90's freegan af, vape drinking vinegar bicycle rights fanny pack austin wayfarers stumptown skateboard. Listicle next level post-ironic pork belly affogato snackwave.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">Celiac poutine williamsburg, snackwave franzen austin tumeric whatever photo booth glossier YOLO enamel pin wolf. Vinyl shabby chic heirloom, man bun DIY skateboard jianbing small batch kitsch vegan marfa try-hard drinking vinegar direct trade. Stumptown cray cliche crucifix asymmetrical. Jianbing tbh mustache pour-over, occupy chambray master cleanse cornhole DIY shoreditch yr deep v art party messenger bag tofu. Green juice deep v art party, health goth actually small batch distillery tattooed lomo live-edge next level. Kogi artisan scenester whatever brooklyn blog hoodie hashtag, food truck ennui pickled gastropub art party meditation pop-up. Live-edge humblebrag organic cred gluten-free, tousled bicycle rights fingerstache fam af kinfolk intelligentsia drinking vinegar pok pok.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">Proficient in multiple languages documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">“I would rather die of passion than of boredom.”
— Vincent Van Gogh </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Me</h4>
          <p class="left-align light"><center> Address: 2850 SW 103 Ave. Miami, Fl 33165<br>Phone: 305-438-8516<br>Email: <a href="mailto:lgm1213@gmail.com?Subject=Website%20Contact">lgm1213@gmail.com</a></center></p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">I was afraid that by observing objects with my eyes and trying to comprehend them with each of my other senses I might blind my soul altogether. -Socrates</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Me</h5>
          <p class="grey-text text-lighten-4">Born and raised in Miami, Fl as a child of the 80's. Grew up watching Saturday Morning Cartoons and jamming out to Pink Floyd,   Luis has had a long a full filling life.He reccently completed </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/lgm1213">GitHub</a></li>
            <li><a class="white-text" href="https://twitter.com/thelastmejia">Twitter</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/luis-mejia-6128039b">LinkedIn</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
